@nav-bg-color: #5B83AD;
@nav-text-color: white;
@headerHeight: 100px;

.navbar {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding-right: 40px;

}
.margin-top-down-medium {
  margin-top:100px;
  margin-bottom:100px;
}


.bordered {
  borded:1px;
}
.createdAt {
  font-size:20px;
  color:gray
}
a {
    text-decoration: none !important;
}
main {
  margin-top:@headerHeight+30;
}
nav.sideNav {
  z-index: 6;
  //background-color: @nav-bg-color;
}
