@nav-bg-color: #5B83AD;
@nav-text-color: white;
@headerHeight: 100px;
a {
    text-decoration: none !important;
}
main {
  margin-top:@headerHeight+30;
}
nav.sideNav {
  z-index: 6;
  background-color: @nav-bg-color;
}
