<Template name="AddExtraForm">
{{ShowTemplate name="AddExtraForm"}}
 <form AddExtraForm-form >
    <div class="form-group">
        <label for="product">Name (discount etc)</label>
        <input type="text" name="name" value="" class="form-control" placeholder="Name">
    </div>
    <div class="form-group">
        <label >Amount (example, -20%, -200)</label>
        <input type="text" class="form-control" value="" name="amount" placeholder="Quantity">
    </div>

    <input value="Add" type="submit" AddExtraForm-addButton class="btn btn-primary mediumButton">
</form>
</Template>
