<template name="NewOrder">
  
  {{#if eq orderStatus "main"}}
  <form NewOrder-submitOrder>
<div class="panel panel-default">
    <div class="panel-heading">
        <h class="panel-title">Order for {{order.customerName}}</h>
        {{>CloseButton closeButtonSelector="NewOrder-closeNewOrder"}}
    </div>
    <div class="form-group">
	   <label for="address1">Payment date</label>
 
	   <div  class="input-append date" id="thedate" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
	     <input  size="16" style="z-index:20"  id="deliveryDate" type="text"  class="datepicker">
	     <span class="add-on"><i class="icon-th"></i></span>
	   </div>
    </div>
    <hr>
    <div>
      {{>OrderItems order=currentOrder showRemove="true"}}
   <span class="panel-body">
     <div style="margin-left:10px;margin-right:10px">
     <span  NewOrder-addOrderItem class="mediumButton btn btn-primary">New item</span>
     <span  NewOrder-addExtra class="mediumButton btn btn-primary">Add extra</span>
     <input _NewOrder-submitButton type="submit"  style="float:right" class="mediumButton btn btn-default" value="Submit order">

     <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
         Delivery address
       </a>
     <div class="collapse" id="collapseExample">
       <div class="card card-block">
	 
        {{>AddressFormFields address=currentOrder.address}}
       </div>
      </div> 
    </div>
        
   </span>
  </div>
</div>
</form>
{{/if}}
{{#if eq orderStatus "orderItem"}}
<div class="panel panel-default">
    <div class="panel-heading">
        <h class="panel-title">Add order item for order {{customer.name}}</h>
        {{>CloseButton closeButtonSelector="NewOrder-closeOrderItem"}}
    </div>
    <div class="panel-body">
        {{>OrderItems order=currentOrder showRemove="true"}}
        {{>OrderItemForm}}
    </div>
</div>
{{/if}}
{{#if eq orderStatus "addExtra"}}
<div class="panel panel-default">
    <div class="panel-heading">
        <h class="panel-title">Add extra </h>
        {{>CloseButton closeButtonSelector="NewOrder-closeOrderItem"}}
    </div>
    <div class="panel-body">
        {{>OrderItems order=currentOrder showRemove="true"}}
        {{>AddExtraForm}}
    </div>
</div>
{{/if}}
{{#if eq orderStatus "confirm"}}
<div class="panel panel-default">
    <div class="panel-heading">
        <h class="panel-title">CONFIRM ORDER  for {{customer.name}}</h>
    </div>
    <div class="panel-body">

<table class="table table-striped">
<tbody>
  <tr>
    <td class="desc">Customer</td><td>{{currentOrder.customerName}}</td>
  </tr>
  <tr>
    <td class="desc">Address</td><td>{{currentOrder.address}}</td>
  </tr>

</tbody>
</table>
{{>OrderItems order=currentOrder showRemove="false"}}
<button NewOrder-confirmNewOrder class="btn btn-primary mediumButton">Confirm</button>

<button NewOrder-backToEditOrder class="btn btn-default mediumButton">Back</button>
</div>
</div>
{{/if}}
</template>
