<template name="NewOrder">
{{#if eq orderStatus "new"}}
<div class="panel panel-default">
    <div class="panel-heading">
        <h class="panel-title">New order for {{customer.name}}</h>
        {{>CloseButton closeButtonSelector="closeNewOrder"}}
    </div>
    <div class="panel-body">
        <form >
            <div class="form-group">
                <label for="product">Product</label>
                <input type="text" name="name" value="{{currentOrder.productName}}" class="form-control" placeholder="Product name">
            </div>
            <div class="form-group">
                <label for="address">Quantity</label>
                <input id="address" type="text" class="form-control" value="{{currentOrder.quantity}}" name="quantity" placeholder="Quantity">
            </div>
            <div class="form-group">
                <label for="address">Amount</label>
                <input id="address" type="text" class="form-control" value="{{currentOrder.amount}}" name="amount" placeholder="Amount">
            </div>
            <div class="form-group">
                <label for="address">Amount</label>
                <input id="address" type="text" class="form-control" value="{{currentOrder.address}}" name="address" placeholder="Address">
            </div>

            <button type="submit" class="btn btn-primary mediumButton ">Submit</button>
        </form>
    </div>
</div>
{{/if}}
{{#if eq orderStatus "confirm"}}
<div class="panel panel-default">
    <div class="panel-heading">
        <h class="panel-title">CONFIRM ORDER  for {{customer.name}}</h>
    </div>
    <div class="panel-body">

<table class="table table-striped">
<tbody>
  <tr>
    <td class="desc">Customer</td><td>{{currentOrder.customerName}}</td>
  </tr>
  <tr>
    <td class="desc">Product name</td><td>{{currentOrder.productName}}</td>
  </tr>
  <tr>
    <td class="desc">Quantity</td><td>{{currentOrder.quantity}}</td>
  </tr>
  <tr>
    <td class="desc">Amount</td><td>{{currentOrder.amount}}</td>
  </tr>
  <tr>
    <td class="desc">Address</td><td>{{currentOrder.address}}</td>
  </tr>
</tbody>
</table>
<button confirmNewOrder class="btn btn-primary mediumButton">Confirm</button>
<button backToEditOrder class="btn btn-default mediumButton">Back</button>
</div>
</div>
{{/if}}
</template>
