<template name="NewOrder">
   {{>ShowTemplate  name="NewOrder"}}
  
  
    <label for="address1">Payment date</label>
    <div  class="input-append date" id="thedate" data-date-format="dd-mm-yyyy">
	<input  size="16" style="z-index:20"  id="deliveryDate" type="text"  class="datepicker">
	<span class="add-on"><i class="icon-th"></i></span>

    </div>
  
  {{#if eq orderStatus "main"}}
  <form NewOrder-submitOrder>
<div class="panel panel-default">
    <hr>
    <div>
    
    {{#if currentOrder.paid}}
    <span class="mediumButton btn btn-success" NewOrder-togglePaid>Is paid</span>
    {{/if}}
    {{#if not currentOrder.paid}}
    <span class="mediumButton btn btn-danger" NewOrder-togglePaid>Not paid</span>
    {{/if}}
	</div>
    <br>
    
	<div>
      {{>OrderItems order=currentOrder showRemove="true"}}
   <span class="panel-body">
     <div style="margin-left:10px;margin-right:10px">
     <span  NewOrder-addOrderItem class="mediumButton btn btn-default">New item</span>
     <span  NewOrder-addExtra class="mediumButton btn btn-default">Add extra</span>
     
      <span id="NewOrderDeliveryAndSubmitArea">
      <span  class="btn mediumButton btn-default" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
           Delivery address
         </span>
       <input type="submit"  class="mediumButton subitOrderButton btn btn-primary" value="Submit order">
       <div class="collapse" id="collapseExample">
       <div class="card card-block">
     
        {{>AddressFormFields address=currentOrder.address}}
       </div>
      </div>
      </span>
      
       
     
     </div>             
   </span>
  </div>
</div>
</form>
{{/if}}
{{#if eq orderStatus "orderItem"}}
    {{#Panel title="Add order item" closeTarget="NewOrder-closeOrderItem"}}
     {{>OrderItems order=currentOrder showRemove="true"}}
     {{>OrderItemForm}}
{{/Panel}}

{{/if}}
{{#if eq orderStatus "addExtra"}}
    {{#Panel title="Add extra"  closeTarget="NewOrder-closeOrderItem"}}
       {{>OrderItems order=currentOrder showRemove="true"}}
       {{>AddExtraForm}}
    {{/Panel}}
{{/if}}
{{#if eq orderStatus "confirm"}}
<div class="panel panel-default">
    <div class="panel-heading">
        <h class="panel-title">CONFIRM ORDER  for {{customer.name}}</h>
    </div>
    <div class="panel-body">

<table class="table table-striped">
<tbody>
  <tr>
    <td class="desc">Customer</td><td>{{currentOrder.customerName}}</td>
  </tr>
  <tr>
    <td class="desc">Address</td><td>{{currentOrder.address}}</td>
  </tr>
</tbody>
</table>
{{>OrderItems order=currentOrder showRemove="false"}}
<button NewOrder-confirmNewOrder class="btn btn-primary mediumButton">Confirm</button>
<button NewOrder-backToEditOrder class="btn btn-default mediumButton">Back</button>
</div>
</div>
{{/if}}
</template>
