<Template name="Order">
{{>ShowTemplate name="Order"}}
{{#transition in="zoomIn:200" }}
{{#if eq status "overview"}}
<div Order-orderPanel class="panel panel-default">
<div class="panel-heading">
  <h class="panel-title">{{order.customerName}}</h>
</div>
<div  class="panel-body">
  <table class="table">
    <tbody>
    <tr>
      <td>
        <b>Amount</b>
      </td>
      <td>
          {{>Currency currency=order.currency amount=order.totalAmount}}
      </td>
    </tr>
    <tr>
      <td><b>Created</b></td>
      <td>
        {{>DefaultDate date=order.created_at}}
      </td>
    </tr>
    <tr>
      <td>
          <b>Status</b>
      </td>
      <td>
          {{order.status}}
      </td>
    </tr>

  </tbody>
  </table>

</div>
</div>
{{/if}}
{{#if eq status "editOrder"}}
  <div class="edit-focus">
  {{>NewOrder customer=customer order=order}}
  </div>
{{/if}}
{{/transition}}
</Template>
