<Template name="OrderItems">
<table class="table">

<tr>
  <th>Product name</th>
  <th>Quantity</th>
  <th class="money">Amount</th>
</tr>
<tbody>
  {{#each item in getOrderItems}}
  <tr>
    <td>{{item.productName}}</td>
    <td>{{item.quantity}}</td>
    <td class="money" style="width:20%">{{>Currency currency="THB" amount=item.amount}}</td>
    {{#if eq "true" showRemove}}
    <td ><button style="float:right" OrderItems-removeOrderItem value={{item._id}} class="btn btn-danger">Remove</button></td>
    {{/if}}
  </tr>

  {{/each}}

  {{#each extra in getOrderExtras}}
    <tr>
    <td><i>{{extra.name}}</i></td>
    <td></td>
    <td class="money" style="width:20%"><i>{{extra.amount}}</i></td>
    {{#if eq "true" showRemove}}
    <td ><button style="float:right" OrderItems-removeExtra value={{extra._id}} class="btn btn-danger">Remove</button></td>
    {{/if}}
  </tr>    
  {{/each}}



  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td><b>Total</b></td>
      <td class="money"><b>{{>Currency currency="THB" amount=totalAmount}}</b></td>
    </tr>
  </tfoot>

</table>
</Template>
