<template name="OrderList">

{{>ShowTemplate name="OrderList"}}



<table class="table table-striped table-hover">
<tbody>
    <tr>
	<td>Company</td>
	<td>Amount</td>
	<td>Created</td>
	<td>Payment date</td>
	
    </tr>
    {{#each order in orders}}
       <tr OrderList-orderRow="{{order._id}}" data-toggle="modal" data-target="#editOrder_{{order._id}}">
       
       {{#if eq order._id selectedId}}
       {{#transition in="zoomIn:1000" out="zoomOut:300"}}
       <td colspan="4" >
       
       {{#Panel closeTarget="OrderList-closeOrder"}}
        
           {{>NewOrder order=selectedOrder}}
         
       {{/Panel}}
       
       </td>
       
       {{/transition}}    
      {{else}}
	<td>
	 {{order.customerName}}   
	</td>
	<td>
	 {{>Currency currency="THB" amount=order.totalAmount}}   
	</td>
	<td>
	   
        
	 {{>DefaultDate date= order.created_at}}   
	</td>
	<td>
	 {{>DefaultDate date=order.paymentDate}}   
	</td>
	{{/if}}
    </tr>
    {{/each}}
</tbody>
</table>


</template>
