<Template name="OrderItems">
 {{>ShowTemplate name="OrderItems"}}

 <table class="table">

<tr>
  <th>Product name</th>
  <th>Quantity</th>
  <th class="money">Amount</th>
</tr>
<tbody>
    {{#transition out="bounceOut:20"}}
  {{#each item in getOrderItems}}
  <tr class="animated out" id="{{item._id}}">
    <td>{{item.productName}}</td>
    <td>{{item.quantity}}</td>
    <td class="money" style="width:20%">{{>Currency currency="THB" amount=item.amount}}</td>
    {{#if eq "true" showRemove}}
    <td ><span href="#" style="float:right" OrderItems-removeOrderItem={{item._id}} class="btn btn-danger">Remove</span></td>
    {{/if}}
  </tr>

  {{/each}}

  {{#each extra in getOrderExtras}}
    <tr class="animated out">
    <td><i>{{extra.name}}</i></td>
    <td></td>
    <td class="money" style="width:20%"><i>{{extra.amount}}</i></td>
    {{#if eq "true" showRemove}}
    <td ><span href="#" style="float:right" OrderItems-removeExtra={{extra._id}} class="btn btn-danger">Remove</span></td>
    {{/if}}
  </tr>    
  {{/each}}
  {{/transition}}
  </tbody>
  
  <tfoot>
    <tr>
      <td></td>
      <td><b>Total</b></td>
      <td class="money"><b>{{>Currency currency="THB" amount=totalAmount}}</b></td>
    </tr>
  </tfoot>

</table>

</Template>
