<template name="OrderList">
{{>ShowTemplate name="OrderList"}}
{{#if isSelected}}
{{#transition in="zoomIn:200"}}
<div id="OrderList-NewOrder">
    {{#Panel closeTarget="OrderList-closeOrder"}}
     {{>NewOrder order=selectedOrder}}
{{/Panel}}
</div>
{{/transition}}
{{/if}}
{{#if not isSelected}}
{{#RememberScrollPosition scrollId="orderlistTable"}}
    {{#RememberSelected selectId="orderlistTable" selectedClass="success"}}
        <table class="table table-striped table-hover">
            <tbody>
                <tr>
                	<td>Company</td>
                	<td>Amount</td>
                	<td>Created</td>
                	<td>Payment date</td>
                </tr>
                {{#each order in orders}}
                <tr RememberSelectedId={{order._id}} id="OrderList-orderRow_{{order._id}}" OrderList-orderRow="{{order._id}}">
                <td>
            	 {{order.customerName}}   
            	</td>
            	<td>
            	 {{>Currency currency="THB" amount=order.totalAmount}}   
            	</td>
            	<td>
            	   {{>DefaultDate date= order.created_at}}   
            	</td>
            	<td>
            	 {{>DefaultDate date=order.paymentDate}}   
            	</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    {{/RememberSelected}}
{{/RememberScrollPosition}}
{{/if}}
</template>
