<Template name="OrdersAdmin">

  {{#if eq status "menu"}}
  <div class="panel panel-default">
      <div class="panel-heading">
          <h class="panel-title">{{customer.name}} order options </h>
          {{>CloseButton closeButtonSelector="closeOrderAdmin"}}
      </div>
      <div class="panel-body">

      <button order class="btn btn-default largeButton">New</button>
      <button allOrders class="btn btn-default largeButton">All orders</button>
    </div>
    </div>
  {{/if}}
  {{#if eq status "order"}}
    {{>NewOrder customer=customer}}
  {{/if}}

</Template>
