<Template name="Activate">
    <h1>Set password</h1>

   <form Activate-form class="form bordered">
    <div class="form-group">
        <label for="name">Password</label>
        <input type="password" name="password1" class="form-control"  placeholder="Password">
     </div>
     <div class="form-group">
        <label for="lastName">Retype password</label>
        <input type="password" name="password2" class="form-control"  placeholder="Password">
     </div>
        <input type="hidden" name="token" value="{{token}}" class="form-control" >
      <button type="submit" class="btn mediumButton btn-default">Set password</button>
 </form>

</Template>