<template name="Register">
    {{#if not registered}}
    <h2>Register</h2>
    <form Register-form class="form bordered">
    <div class="form-group">
        <label for="name">Email</label>
        <input type="email" name="email" class="form-control"  placeholder="Email">
     </div>
     <div class="form-group">
        <label for="lastName">First name</label>
        <input type="text" name="firstName" class="form-control"  placeholder="First name">
     </div>
     <div class="form-group">
        <label for="lastName">Last name</label>
        <input type="text" name="lastName" class="form-control"  placeholder="Last name">
     </div>
      <div class="form-group">
        <label for="lastName">Company name</label>
        <input type="text" name="companyName" class="form-control"  placeholder="Compnay name">
     </div>
      <button type="submit" class="btn mediumButton btn-default">Register</button>
    </form>
    {{else}}
    	<h1>An activation mail has been sent to your email {{email}}</h1>
    {{/if}}
    
    
</template>