
<template name="Customer">
  {{#transition in="zoomIn" out="bounceOut"}}
{{#if shouldShowHeader}}
  <div class="customerClick">
  <h3>{{customer.name}}</h3>
    <span class="ingredient">
      {{customer.address}}
      <div class="createdAt"> Created {{>FromNow date=customer.created_at}}
      <br>
    </div>
    </span>
  </div>
  {{/if}}
 {{#if showDetails}}
 <div>

  {{>CustomerDetails customer=customer}}
  </div>
  {{#unless showOrders}}
    <button orders class="btn btn-primary mediumButton">Orders</button> <button editCustomer class="btn btn-primary mediumButton">Edit</button>
  {{/unless}}
  {{/if}}
  {{#if showEdit}}
    <div>
      <div style="float:right;margin-right:30px">
      <button class="cancelEditCustomer btn glyphicon  glyphicon-remove">Close</button>
    </div>
     {{>EditCustomer customer=customer}}
     </div>
   {{/if}}
   {{#if showOrders}}
    {{>OrdersAdmin customer=customer}}
   {{/if}}
   {{/transition}}
</template>
