<template name="NewOrder">
{{#if eq orderStatus "new"}}
<h3>New order for {{customer.name}}</h3>
  <form>
    <label>Name</label>
    <input type="text" name="name">
    <label>Quantity</label>
    <input type="text" name="quantity">
    <label>Amount</label>
    <input type="text" name="quantity">
    <label>Delivery address</label>
    <input type="text" name="address" value="{{customer.address}}">
    <input type="submit" class="btn btn-primary" value="SUBMIT">
  </form>
{{/if}}
{{#if eq orderStatus "confirm"}}
<table class="customerDetails table table-striped">
<tbody>
  <tr>
    <td class="desc">Customer</td><td>{{currentOrder.customerName}}</td>
  </tr>
  <tr>
    <td class="desc">Name</td><td>{{currentOrder.name}}</td>
  </tr>
  <tr>
    <td class="desc">Quantity</td><td>{{currentOrder.quantity}}</td>
  </tr>
  <tr>
    <td class="desc">Amount</td><td>{{currentOrder.amount}}</td>
  </tr>
  <tr>
    <td class="desc">Address</td><td>{{currentOrder.address}}</td>
  </tr>
</tbody>
</table>
<button class="btn btn-primary mediumButton">Confirm</button>
<button backToEditOrder class="btn btn-default mediumButton">Back</button>
{{/if}}
</template>
