<template name="CustomerDetails">
  <div class="panel panel-default">
  <div class="panel-heading">
    <h class="panel-title">{{customer.name}} customer details </h>
    {{>CloseButton closeButtonSelector="closeCustomerDetails"}}
  </div>
  <div class="panel-body">
    <table class="customerDetails table table-striped">
    <tbody>
      <tr>
        <td class="desc">Name</td><td>{{customer.name}}</td>
      </tr>
      <tr>
        <td class="desc">Adress</td><td>{{customer.address}}</td>
      </tr>
      <tr>
        <td class="desc">Orders</td><td>20</td>
      </tr>
      <tr>
        <td class="desc">Employee</td><td>Bob</td>
      </tr>
      <tr>
        <td class="desc">Activity</td><td>High</td>
      </tr>
    </tbody>
  </table>
</div>
</div>


</template>
