<template name="Customer">
  {{#transition in="zoomIn:500" }}
{{#if shouldShowHeader}}
  <div class="customerClick">
    <div class="panel panel-default">
    <div class="panel-heading">
      <h class="panel-title">{{customer.name}}</h>
    </div>
  <div class="panel-body">
    <p>{{customer.address}}</p>
    <div class="createdAt"> Created {{>FromNow date=customer.created_at}}
  </div>
</div>
</div>
</div>
  {{/if}}
 {{#if showDetails}}
 <div class="margin-top-down-medium">
  {{>CustomerDetails customer=customer}}
  {{#unless showOrders}}
    <button orders class="btn btn-primary mediumButton">Orders</button> <button editCustomer class="btn btn-primary mediumButton">Edit</button>
  {{/unless}}
  </div>
  {{/if}}
  {{#if showEdit}}
    {{>CloseButton closeButtonSelector="closeEditCustomer"}}
    <div class="margin-top-down-medium">
     {{>EditCustomer customer=customer}}
   </div>

   {{/if}}
   {{#if showOrders}}
   <div class="margin-top-down-medium">
    {{>OrdersAdmin customer=customer}}
  </div>
   {{/if}}
   {{/transition}}
</template>
