<template name="Customer">
    {{>ShowTemplate name="Customer" }}
  {{#transition in="zoomIn:200"}}

 {{#if showDetails}}
 <div>
  {{>CustomerDetails customer=customer}}

<button Customer-editCustomer class="btn mediumButton btn-primary mediumButton">Edit</button>

  </div>
  {{/if}}
  {{#if showEdit}}
  {{>CloseButton closeButtonSelector="closeEditCustomer"}}
     {{>EditCustomer customer=customer}}
  {{/if}}
  <br>
  <h1>Orders</h1>
      {{>OrdersAdmin customer=customer}}
   {{/transition}}
</template>

