<template name="EditCustomer">
    {{>ShowTemplate name="EditCustomer" }}
  <div class="panel panel-default">
  <div class="panel-heading">
    <h class="panel-title">Edit {{customer.name}}</h>
  </div>
  <div class="panel-body">
  <form EditCustomer-form class="form bordered">
  <div class="form-group">
      <label for="name">Name</label>
      <input id="name" type="text" name="name" value="{{customer.name}}" class="form-control"  placeholder="Name (required)">
    </div>
    {{>AddressFormFields address=customer.address}}
    <button type="submit" class="btn mediumButton btn-default">Submit</button>
  </form>
</div>
</div>
</template>
